<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
		<ul>
    <% if user_signed_in? %>
      <li><%= current_user.firstname %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path%></li>
    <% end %>
    <% if user_signed_in? %>
      <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete  %>
      </li>
    <% else %>
      <li><%= link_to "Log in", new_user_session_path%></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%=link_to "Go to my profile page", user_path(current_user)%></li>
      <li><%= link_to "Add an Artist", new_artist_path%></li>
      <% end %>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
